# Configs
.env
.env.*
!.env.example
!.env.test
*.local

# Editors
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Outputs
**/.output
**/.svelte-kit
**/build

# Tools
node_modules
